.aPropos {
	min-height: 70.48vh;
	background-color: #f5f5f5;
}

.aProposRow {
	display: flex;
	width: 100%;
	align-items: stretch;
}

.aProposColumn {
	display: flex;
	flex-direction: column;
	width: 50%;
}

.aProposColumn h2 {
	font-weight: 900;
	font-style: Black;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
	margin: 80px 3.63vw 24px 6.13vw;
}

.aPropos p {
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	letter-spacing: -1.5%;
	width: 40.83vw;
	margin: 0 3.63vw 17.52vh 6.13vw;
}

.aProposRight {
	width: 50%;
	min-height: 70.48vh;
	background-color: #152237;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 796px) {
	.aPropos {
		height: auto;
	}

	.aProposRow {
		flex-direction: column;
	}

	.aProposColumn,
	.aProposRight {
		width: 100%;
		height: auto;
	}

	.aProposColumn h2 {
		font-weight: 900;
		font-style: Black;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: -1.5%;
		text-align: center;
		text-transform: uppercase;

		margin: 32px 20px 16px 20px;
	}

	.aPropos p {
		width: 90%;
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
		letter-spacing: -1.5%;
		margin: 0 10px 32px 20px;
	}

	.aProposRight {
		min-height: 370px;
	}

	.aProposRight img {
		width: 214px;
	}
}
