.avisClient {
	height: 597px;
}

.avisClient h2 {
	font-weight: 900;
	font-style: Black;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
	text-align: center;
	margin-top: 58px;
}

.avisRow {
	display: flex;
	margin: 6.29vh 9.05vw 12.48vh 8.93vw;
	gap: 24px;
}

.avis {
	width: 41.01vw;
}

.avis img {
	clip-path: circle(50%);
}

.avis h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -1.5%;
	color: #152237;
}

.avis svg {
	width: 20.13px;
	height: 19.2px;
	margin-top: 7px;
	margin-bottom: 14px;
}

.avisStar {
	display: flex;
	flex-direction: row;
	gap: 1px;
}

.avis p {
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	letter-spacing: -1.5%;
	width: 40.83vw;
	height: 8.57svh;
	text-align: left;
	color: #000000cc;
}
