.banniere {
	background-image: linear-gradient(
			94.01deg,
			rgba(68, 221, 138, 0.8) 3.11%,
			rgba(21, 183, 226, 0.8) 98.45%
		),
		url("../ressources/bg-header.png");
	height: 451px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banniere h1 {
	font-weight: 800;
	font-style: bold;
	font-size: clamp(24px, 4vw, 48px);
	line-height: 100%;
	letter-spacing: -1.5%;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	height: 59px;
}

.banniere h2 {
	font-weight: 500;
	font-style: Medium;
	font-size: clamp(14px, 2vw, 20px);
	line-height: 100%;
	letter-spacing: -1.5%;
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	margin-top: 8px;
	margin-bottom: 22px;
	height: 24px;
}

.banniere a {
	text-decoration: none;
	background-color: white;
	color: #152237;
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -1.5%;
	text-align: center;
	vertical-align: middle;
	padding: 11px 14px;
	border: 1px solid none;
	border-radius: 6px;
}
