.contact {
	height: 63.14vh;
	padding: 5.71vh 10.24vw 7.33vh 10.24vw;
	text-align: center;
}

.contact hr {
	background-color: #44dd8a;
	width: 20vw;
	height: 1px;
	margin: 3.71vh auto 5.24vh auto;
	border: none;
}

.contact h2 {
	font-weight: 900;
	font-style: Black;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
}

.contactColumn {
	display: flex;
	flex-direction: column;
}

.contactColumn input {
	background-color: #152237;
	color: white;
	border: none;
}

.contactColumn input::placeholder {
	color: white;
}

.contactRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.contactRow input {
	height: 4.28vh;
	width: 35.71vw;
	margin-bottom: 5.4vh;
	border: none;
	padding-left: 1vw;
}

#text {
	height: 18.48vh;
	background-color: #152237;
	border: none;
	padding-top: 2vh;
	padding-left: 1vw;
	color: white;
}

#text::placeholder {
	color: white;
}

#submit {
	background-color: #44dd8a;
	color: #152237;
	width: 20.89vw;
	height: 2.68vw;
	margin: auto;
	margin-top: 5.2vh;
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -1.5%;
	text-align: center;
	vertical-align: middle;
}
