.createFormation {
	background-color: #44dd8a;
}

#li7 {
	list-style-image: url(../ressources/coin.svg);
}

#li8 {
	list-style-image: url(../ressources/heart.svg);
}

#li9 {
	list-style-image: url(../ressources/pen.svg);
}

#li10 {
	list-style-image: url(../ressources/cog.svg);
}

#li11 {
	list-style-image: url(../ressources/profil.svg);
}

@media screen and (max-width: 796px) {
	#klivioDesktop {
		display: none;
	}

	#desktopImageDisplay {
		display: none;
	}

	#phoneImageDisplay {
		display: flex;
		margin-top: 3vh;
	}
}
