.formationR {
	height: auto;
	min-height: 632px;
	background-color: #152237;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3vh 0 5vh 0;
}

.formationR .formationTitle {
	color: white;
}

.formationR .formationCard h3 {
	color: white;
}

.formationR .formationCard p {
	color: white;
}

.formationR .formationCard .prix {
	background-color: white;
	color: #152237;
}

.formationR .formationBtnStyle {
	background-color: white;
	color: #152237;
}

@media screen and (max-width: 796px) {
	.formationR {
		height: auto;
		padding: 3vh 2vw 5vh 0vw;
	}

	.formationR .formationTitle {
		font-size: 30px;
		line-height: 40px;
		text-align: center;
		margin: 0 0 3vh 4vw;
		width: 335px;
	}

	.formationR .formationRow {
		flex-direction: column;
		gap: 4vh;
		margin: 0;
		padding: 0 2.68vw;
		align-items: center;
	}

	.formationR .formationCard {
		flex: 1 1 100%;
		min-width: auto;
		height: auto;
	}

	.formationR .formationCard h3 {
		font-size: 20px;
		line-height: 28px;
		bottom: 0.5vh;
	}

	.formationR .formationCard p {
		font-size: 14px;
		line-height: 20px;
		bottom: 0.5vh;
	}

	.formationR .formationBtnStyle {
		width: 225px;
		height: 36px;
		font-size: 14px;
		padding: 9px 18px;
		margin-top: 24px;
	}
}
