* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Montserrat, sans-serif;
}

body {
	width: 100%;
}

header {
	height: 80px;
	background-color: #152237;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 0 5vw;
}

.headerLogo img {
	width: 5vw;
	height: auto;
}

.formation {
	height: 1.71vh;
	margin-left: 10vw;
	margin: 8vw;
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -1.5%;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	color: #ffffff;
	white-space: nowrap;
}

.recherche {
	width: 28.39vw;
	height: 3.81vh;
	border: 1px solid white;
	border-radius: 6px;
	background-color: transparent;
	color: white;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'><path fill='white' d='M480 272C480 317.9 465.1 360.3 440 394.7L566.6 521.4C579.1 533.9 579.1 554.2 566.6 566.7C554.1 579.2 533.8 579.2 521.3 566.7L394.7 440C360.3 465.1 317.9 480 272 480C157.1 480 64 386.9 64 272C64 157.1 157.1 64 272 64C386.9 64 480 157.1 480 272zM272 416C351.5 416 416 351.5 416 272C416 192.5 351.5 128 272 128C192.5 128 128 192.5 128 272C128 351.5 192.5 416 272 416z'/></svg>");
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: calc(100% - 1vh) center;
	padding-right: 2.5vw;
	padding-left: 0.625vw;
	margin-right: 3vw;
}

.recherche::placeholder {
	color: white;
	opacity: 1;
	font-weight: 500;
	font-size: 15px;
	line-height: 100%;
	letter-spacing: -1.5%;
}

.headerBtn {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.connexion,
.inscription {
	border-radius: 6px;
	padding: 1.05vh 1.75vw;
	text-decoration: none;
	color: #152237;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: -1.5%;
}

.connexion {
	background-color: white;
	margin-right: 1.131vw;
}

.inscription {
	background: linear-gradient(95.98deg, #44dd8a 8.7%, #15b7e2 100%);
}

.burger {
	display: none;
}

@media screen and (max-width: 796px) {
	header {
		height: 80px;
		padding: 25px;
	}

	.headerLogo img {
		width: 84px;
		height: auto;
	}

	.burger {
		display: block;
	}

	.formation,
	.recherche,
	.headerBtn {
		display: none;
	}
}
