.avantages {
	background-color: #f5f5f5;
}

.listRow {
	display: flex;
	padding: 7.52vh 6.13vw 8.86vh 5.83vw;
	gap: 4.23vw;
}

.listRow img {
	max-width: 100%;
	width: 100%;
	height: auto;
	display: block;
}

.listColumn {
	display: flex;
	flex-direction: column;
}

.listColumn h2 {
	font-weight: 900;
	font-style: Black;
	font-size: 40px;
	line-height: 36px;
	letter-spacing: -1.5%;
	text-transform: uppercase;
	color: #152237;
}

.listColumn ul {
	margin-top: 4.1vh;
	margin-left: 2vw;
}

.listColumn li {
	font-weight: 400;
	font-size: 24px;
	line-height: 5vh;
	letter-spacing: -1.5%;
	color: #000000cc;
	padding-left: 2vw;
}

#li1 {
	list-style-image: url(../ressources/fleche.svg);
}

#li2 {
	list-style-image: url(../ressources/stylo.svg);
}

#li3 {
	list-style-image: url(../ressources/flechedown.svg);
}

#li4 {
	list-style-image: url(../ressources/star.svg);
}

#li5 {
	list-style-image: url(../ressources/clock.svg);
}

#li6 {
	list-style-image: url(../ressources/text.svg);
}

#phoneImageDisplay {
	display: none;
}

@media screen and (max-width: 796px) {
	.listRow {
		flex-direction: column;
		padding: 40px 40px;
	}

	#phoneImageDisplay {
		display: block;
	}

	.listColumn h2 {
		font-weight: 900;
		font-style: Black;
		font-size: 30px;
		line-height: 36px;
		letter-spacing: -1.5%;
		text-align: center;
		text-transform: uppercase;
	}

	.listColumn ul {
		margin-top: 20px;
		margin-left: 0;
		padding-left: 30px;
	}

	.listColumn li {
		font-weight: 400;
		font-size: 20px;
		line-height: 32px;
		letter-spacing: -1.5%;
	}
}
