.formationP {
	min-height: 632px;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 3vh 0 5vh 0;
	background-color: white;
}

.formationTitle {
	margin: 0;
	height: 72px;
	font-weight: 800;
	font-size: 36px;
	line-height: 72px;
	letter-spacing: -1.5%;
	color: #152237;
	margin-left: 5.8vw;
}

.formationRow {
	margin-left: 5.95%;
	margin-right: 6.01%;
	display: flex;
	flex-wrap: wrap;
	gap: 90px;
}

.formationCard {
	flex: 1 1 calc(25% - 5.36%);
	height: 33.52vh;
	width: 305px;
	min-width: 250px;
	margin-top: 4vh;
	padding-bottom: 5vh;
}

.prix {
	height: 31.58px;
	border-radius: 93px;
	background-color: #152237;
	color: white;
	width: 120px;
	padding: 6px 8px 5.58px 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -2.5vh;
	left: 165px;
	gap: 7px;
	z-index: 2;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.priceNew {
	height: 20px;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: -1.5%;
}

.priceOld {
	height: 7px;
	width: 23px;
	font-weight: 400;
	font-size: 10px;
	line-height: 7px;
	letter-spacing: -1.5%;
	text-decoration: line-through;
}

.formationCard h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -1.5%;
	color: #152237;
	position: relative;
	bottom: 1.5vh;
}

.formationCard p {
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0%;
	color: #152237;
	position: relative;
	bottom: 1vh;
}

.formationCard svg {
	width: 20.13px;
	height: 19.2px;
	position: relative;
	bottom: 1vh;
}

.formationBtn {
	display: flex;
	justify-content: center;
	margin-top: 5vh;
}

.formationBtnStyle {
	text-decoration: none;
	width: 225px;
	height: 40px;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: -1.5%;
	border-radius: 6px;
	background-color: #152237;
	color: white;
	padding: 11px 26px 11px 27px;
	margin-top: 43px;
	text-align: center;
	vertical-align: middle;
}

@media screen and (max-width: 796px) {
	.formationP {
		height: auto;
		padding: 3vh 0 5vh 2vw;
	}

	.formationP .formationTitle {
		font-weight: 800;
		font-size: 30px;
		line-height: 40px;
		letter-spacing: -1.5%;
		text-align: center;
		margin: 0 0 3vh 3vw;
		justify-content: flex-start;
		width: 335px;
		color: #152237;
	}

	.formationRow {
		flex-direction: column;
		gap: 4vh;
		margin: 0;
		padding: 0;
		align-items: center;
	}

	.formationCard {
		flex: 1 1 100%;
		min-width: auto;
		height: auto;
		position: relative;
		margin: 0;
		padding: 0;
	}

	.formationCard h3 {
		font-size: 20px;
		line-height: 28px;
		bottom: 0.5vh;
	}

	.formationCard p {
		font-size: 14px;
		line-height: 20px;
		bottom: 0.5vh;
	}

	.formationCard svg {
		bottom: 0.5vh;
	}

	.formationBtn {
		margin-top: 0;
	}

	.formationBtnStyle {
		width: 225px;
		height: 36px;
		font-size: 14px;
		padding: 9px 18px;
		margin-top: 24px;
	}
}
